<tr id="title_line_<%= title_line[0] %>">
  <td><%= title_line[1]['name'] %></td>
  <td><%= title_line[1]['data_col'] %></td>
  <td>
    <%= vote_item_op_button vote_vote_main_path + '/titles', title_line[0], total_num %>
  </td>
</tr>