<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="x-ua-compatible" content="IE=edge"/>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag :origin %>
  <%= csrf_meta_tags %>
  <title>投票系统 - 登录</title>
</head>
<body class="login-body">
<%= yield %>
</div>
</body>
</html>z